<!doctype html>
<html lang="es">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Yustplayit</title>

            {% block stylesheets %}
                {% stylesheets filter='cssrewrite' 
                    'bundles/yustplayitweb/css/bootstrap.min.css'
                    'bundles/yustplayitweb/css/bootstrap-theme.min.css'
                    'bundles/yustplayitweb/css/yp.styles.css'
                %}
                  <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% endblock %}
                        
            {% block javascripts %}
                {% javascripts '@YustplayitWebBundle/Resources/public/js/jquery-2.1.3.js'
                    '@YustplayitWebBundle/Resources/public/js/bootstrap.min.js'
                    '@YustplayitWebBundle/Resources/public/js/jquery.easing.min.js' 
                    '@YustplayitWebBundle/Resources/public/js/jquery.fittext.js' 
                %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %} 
            {% endblock %}
            
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>

    <body id="page-top">
        {% block body %}
            {{ include('YustplayitWebBundle:templates:navbar.html.twig') }}
            
            {% block content %}{% endblock %}
            
            {{ include('YustplayitWebBundle:templates:footer.html.twig') }}
        {% endblock %}
    </body>
</html>
