{% extends 'YustplayitWebBundle:templates:base.html.twig' %}

{% block content %}
    <!-- Page Header -->

    <header class="intro-header"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Yustplayit</h1>
                        <hr class="small">
                        <span class="subheading">Soluciones de digital signage... y mucho más</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h2 class="post-title">
                        La solución de digital signage a tu alcance:
                    </h2>
                    Yustplayit tiene un solo objetivo: Ofrecer una plataforma sencilla para la distribución de contenidos digitales.
                    Nuestra solución se adapta a tus necesidades: Desde una única pantalla, Yustplayit te permite una gestion de contenidos
                    sencilla y escalable. Cuéntanos lo que necesitas, seguro que podemos ayudarte.
                    <ul>
                        <li>Control centralizado. Gestiona todos los equipos desde la web.</li>
                        <li>Interfaz sencillo e intuitivo. Añade y elimina contenidos fácilmente. </li>
                        <li>Configura los contenidos reproducidos en cada equipo individualmente, o</li>
                        <li>Crea grupos de equipos y gestiónalos conjuntamente. </li>  
                    </ul>
                    {% image '@YustplayitWebBundle/Resources/public/images/window.png' %}
                        <img src="{{ asset_url }}" width="600px" alt="Web" />
                    {% endimage %}
                </div>
                <hr>
                <div class="post-preview">
                    <h2 class="post-title">
                        Conectar y listo:
                    </h2>
                    <ul>
                        <li>Reproduce todo tipo de contenidos en alta definición: imagenes, videos, webs y presentaciones.</li>
                        <li>Conéctalo a cualquier equipo: monitores, televisiones, proyectores, videowalls...</li>
                        <li>Equipos pequeños, silenciosos y de consumo eléctrico muy reducido (como cargar tu móvil).</li>
                    </ul>
                    {% image '@YustplayitWebBundle/Resources/public/images/rb_1.jpg' %}
                        <img src="{{ asset_url }}" width="400px" alt="Equipo" />
                    {% endimage %}
                </div>
                <hr>
            </div>
        </div>
    </div>
                
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h2 class="post-title">
                        <a class="headerlink" title="Permalink to this headline" name="contacto"></a>
                        Contacto:
                    </h2>
                    <i>¿Y ya está?</i> - ¡Sí!  Es así de sencillo. 
                    ¿Te interesa? ¿Deseas más información? ¡Solicita una prueba!
                    {% form_theme form 'bootstrap_3_layout.html.twig' %} 
                    {{ form_start(form) }}      
                    {{ form_row(form.empresa) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.telefono) }}
                    {{ form_row(form.consulta) }}
                    {{ form_end(form) }}
                    </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
